/* src/styles.scss */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html, body {
  min-height: 100vh; 
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ea580c; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c2410c;
}